pymongo
dnspython
aiohttp
aioredis
arrow
cachetools
discord.py
DiscordDB
image-processor-client
motor
pyyaml
asyncurban
sentry-sdk
python-dotenv
python-dateutil
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
