pymongo
dnspython
aiohttp
aioredis
arrow
cachetools
discord.py
DiscordDB
image-processor-client
motor
pyyaml
asyncurban
sentry-sdk
python-dotenv
python-dateutil
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
